[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=Password Generator
Comment=Générateur de mot de passe
Icon=pswdgenerator
Path=/home/alain/development/python/passwordGenerator
Exec=python3 ./pswdgene.py
StartupNotify=false
StartupWMClass=Pswdgene.py
OnlyShowIn=Unity;
X-UnityGenerated=true
Hidden=false
